/* *{
    background-color: black;
} */
/* .bgColor{
    background-color:black;
} */
/* .BgColor{
    background-image: url("../assets/BgImage.jpg");
    background-size:cover;
    background-position: cover;
    height: 100vh;
 } */